
/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.pop {
  color: #18C7B4;
}

/* Nav Styles */

.brand {
  font-size: 1.25rem;
  font-family: Charter;
  letter-spacing: 0.2px;
  color: #18C7B4;
}

.navbar {
  min-height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}

.nav-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  right: 0px;
  min-height: 42vh;
  top: 8vh;
  width: 27%;
  list-style: none;
  transform: translateX(100%);
  transition: transform 0.6s ease-in;
}

.nav-links li {
  opacity: 0;
}

.nav-links a{
  text-decoration: none;
  color: #18C7B4;
  font-family: 'Roboto Slab', serif;
  padding: 20%;
}

.burger {
  cursor: pointer;
}

.burger div{
  display: block;
  width: 25px;
  height: 3px;
  background-color: #18C7B4;
  margin: 4px;
  transition: all 0.3s ease;
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(+45deg) translate(-5px, -6px);
}

/* About Section Styles */

#about {
  text-align: left;
  height: 92vh;
}

.author-image {
  max-height: 100px;
  max-width: 100px;
  margin: 15px 0;
  border-radius: 25%;
  filter: grayscale(90%);
}

.main {
  position: absolute;
  top: auto;
  bottom: 0;
  padding: 0 40px 40px 0;
}

.main p {
  color: #000000;	
  font-family: Charter;	
  font-size: 18px;	
  letter-spacing: 0.2px;	
  line-height: 24px;
}

  /* Skills Styles */

#skills {
  text-align: center;
  height: auto;
}

#skills h1 {
  font-size: 2.25rem;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 0.1rem;
  padding: 5% 0;
}

.container.grey {
  background-color: rgba(0,0,0,0.06);
  border-radius: 10px;
  margin-bottom: 5%;
}

.about-skills {
  text-align: left;
}

.skill {
 padding: 10px;
}

.skill-icon {
  height: 100px;
  width: 100px;
}

  /* Project Styles */

#projects {
  height: auto;
}

#projects h1 {
  font-size: 2rem;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 0.1rem;
  padding: 5% 5%;
  /* margin-left: 6%; */
}

.project {
  width: 100%;
  margin: 5% auto;
  position: relative;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
}

.project.ballytrent {
  background-image: url("images/ballytrent_background.PNG");
}

.project.panic {
  background-image: url("images/panic_background.jpg");
}

.project:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.project-content {
  position: absolute;
  width: 80%;
  height: auto;
}

.project-content h4 {
  font-size: 1.5rem;
}

.project-content p {
  padding: 2% 0; 
  margin-bottom: 15px;
}

.project-button {
  display: flex;
  flex-direction: column;
  background: #18C7B4;
  color: #fff;
  padding: 3%;
  margin: 4% 0;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  width: 150px;
}

.credit {
  padding: 0 0 5px 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 10px;
}

  /* Contact Styles */

#contact h1 {
  font-size: 2.25rem;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 0.1rem;
  padding: 5% 0;
}

.contact-box {
  height: 50vh;
  text-align: left;
  margin: 0 auto;
  padding: 20% 0;

}

.contact-box p {

}

.icons {
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contact-icon {
  width: 45px;
  height: 45px;
}


    /* Media Queries */

    /*Tablet*/
@media all and (min-width: 767px) {

 /* Nav Styles */

.brand {
  font-size: 1.75rem;
  letter-spacing: 0.2rem;
}

.nav-links {
  width: 30%;
}


.nav-links a{
  font-size: 1.5rem;
}

.burger div{
  width: 40px;
  height: 4.5px;
  margin: 6px;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-6px, 7.5px);
}
.toggle .line3 {
  transform: rotate(+45deg) translate(-7.5px, -9px);
}

/* About Section Styles */

.about-top h1 {
  font-size: 2rem;
}

.about-top h3 {
  font-size: 1.5rem;
}

.about-bottom h1 {
  font-size: 2rem;
}

.about-bottom p {
  font-size: 1.5em;
  font-weight: 500;
}

/* Skills Styles */

#skills h1 {
  font-size: 2.25rem;
  font-family: 'Roboto Slab', serif;
}


.outer-skill > .fab {
  font-size: 7em;
}

.outer-skill > button {
  font-size: 1.75rem;
}

button.collapse {
  width: 200px;
   border-radius: 10px;
  }


div.content {
  width: 200px;
  font-size: 1.25rem;
}

div.content.show {
  max-height: 350px;
}

/* Project Styles */


#projects h1 {
  font-size: 2.25rem;
}

.project {
  height: 250px;
  width: 250px;
}

.collapse.projects {
  width: 250px;
  font-size: 1.5rem;
  padding: 2%;
}

.content.projects {
  width: 250px;
  font-size: 1.25rem;
}

.content p {
  padding: 2%;
}

.content a {
  font-size: 1.4rem;
}

  /* Contact Styles */

#contact h1 {
  font-size: 2.25rem;
}

.icon.sent {
  position: absolute;
  margin-left: -0.5%;
  margin-top: -1%;
}

.fas {
  font-size: 7em;
}

.far {
  font-size: 7em;
}

.icon > .fab {
  font-size: 7em;
}

}

@media all and (min-width: 992px) {

  /* Nav Styles */

  .brand {
  font-size: 1.75rem;
}

.nav-links {
  position: static;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: auto;
  min-width: 40%;
  transform: translateX(0%);
  margin-left: 40%;
}

.nav-links li {
  opacity: 1;
}

.burger div{
  display: none;
}

/* About Section Styles */

#about {
  display: flex;
}


.about-top h1 {
  font-size: 2.25rem;
}

.about-top h3 {
  font-size: 2rem;
}

.about-bottom h1 {
  font-size: 2rem;
  padding-bottom: 2.5%;
}

.about-bottom p {
  font-size: 1.5em;
}

/* Skills Styles */

#skills {
  height: auto;
  min-height: 50vh;
}

#skills h1 {
  font-size: 2.25rem;
  font-family: 'Roboto Slab', serif;
  padding: 5% 5%;
}

.skills-box {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.outer-skill > .fab {
  font-size: 8em;
}

.outer-skill > button {
  font-size: 1.5rem;
}

.skills-box > .fab {
  font-size: 6em;
}

.skills-box > button {
  font-size: 1.75rem;
}

button.collapse {
  width: 175px;
  }


div.content {
  width: 175px;
  font-size: 1.125rem;
}

/* Project Styles */


.projects-container {
  justify-content: space-around;
}

.project {
  height: 275px;
  width: 275px;
}

  /* Contact Styles */

  #contact h1 {
  padding: 2.5% 5%;
}

.contact-box {
  margin: 1% 0; 
  justify-content: space-around;
}

.icon.sent {
  position: absolute;
  margin-left: -29.7%;
  margin-top: -0.75%;
}

.fas {
  font-size: 7em;
}

.far {
  font-size: 7em;
}

.icon > .fab {
  font-size: 7em;
}

}

@media all and (min-width: 1600px) {

  /* Project Styles */

.container {
  width: 70%;
  margin: 0 auto;
}

.projects-container {
  justify-content: center;
}

.outer-project {
  padding: 0 5% 15%;
}

}