
/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* Nav Styles */

.brand {
  font-family: 'Roboto Slab', serif;  
  font-size: 1.25rem;
  letter-spacing: 1px;
  color: #18C7B4;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  min-height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  z-index: 100;
  background: #fff;
}

.nav-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  right: 0px;
  min-height: 92vh;
  top: 8vh;
  width: 100%;
  list-style: none;
  transform: translateX(100%);
  opacity: 0;
  transition: all 1s ease-out;
}

.nav-links li {
  opacity: 0;
}

.nav-links a{
  text-decoration: none;
  color:#222222;
  font-family: 'Roboto Slab', serif;
  padding: 20%;
}

.nav-links a:hover{
  color: #18C7B4;
  text-decoration: underline;
}

.burger {
  cursor: pointer;
}

.burger div{
  display: block;
  width: 25px;
  height: 3px;
  background-color: #18C7B4;
  margin: 4px;
  transition: all 0.3s ease;
}

.nav-active {
  transform: translateX(0%);
  transition: transform 0.6s ease-in;
  background: #fff;
  z-index: 10;
  opacity: 1;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(+45deg) translate(-5px, -6px);
}

/* About Section Styles */

#about {
  text-align: left;
  height: 94vh;
}

.author-image {
  max-height: 75px;
  max-width: 75px;
  margin: 15px 0;
  border-radius: 25%;
  filter: grayscale(90%);
}

.main {
  position: absolute;
  top: auto;
  bottom: 0;
  padding: 40px 0;
  width: 80%;
}

.main p {
  color: #000000;	
  font-family: 'Crimson Pro', serif;
  font-size: 17px;	
  letter-spacing: 0.2px;	
  line-height: 20px;
  margin-bottom: 2%;
  width: 65%;
}

.main p a {
  text-decoration: none;
  color: #18C7B4;
}

.main p a:hover{
  color: #000;
  text-decoration: underline;
}

  /* Skills Styles */

#skills {
  text-align: center;
  height: auto;
}

#skills h1 {
  font-size: 1.75rem;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 1px;
  padding: 5% 0;
}

.container.grey {
  background-color: rgba(0,0,0,0.06);
  border-radius: 10px;
  margin-bottom: 5%;
}

.about-skills {
  height: 30vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-family: 'Crimson Pro', serif;
  letter-spacing: 0.2px;
}

.skill {
 padding: 10px;
}

.skill h3 {
  font-family: 'Roboto Slab', serif;
  letter-spacing: 1px;
}

.skill-icon {
  height: 100px;
  width: 100px;
}

  /* Project Styles */

#projects {
  height: auto;
}

.project {
  width: 100%;
  margin: 5% auto;
  position: relative;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: #fff;
}

.project.ballytrent {
  background:linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("images/ballytrent_background.png") center no-repeat;
  background-size:cover;
}

.project.panic {
  background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("images/panic_background.jpg") center no-repeat;
  background-size:cover;
}

.project:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.project-content {
  position: absolute;
  width: 80%;
  height: auto;
  font-family: Charter;
  letter-spacing: 0.2px;
}

.project-content h4 {
  font-family: 'Roboto Slab', serif;
  font-size: 1.25rem;
  letter-spacing: 1px;
}

.project-content p {
  padding: 2% 0; 
  margin-bottom: 15px;
  font-family: 'Crimson Pro', serif;
}

.project-button {
  display: flex;
  flex-direction: column;
  background: #18C7B4;
  color: #fff;
  padding: 3%;
  margin: 4% 0;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  width: 150px;
  font-family: 'Crimson Pro', serif;
}

.project-button :hover {
  cursor: pointer;
}

.credit {
  padding: 0 0 5px 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 10px;
}

  /* Contact Styles */

#contact h1 {
  font-size: 1.75rem;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 1px;
  padding: 5% 0;
}

.contact-box {
  text-align: left;
  margin: 0 auto;
  padding: 15% 0;

}

.contact-box p {
  font-family: 'Crimson Pro', serif;
  letter-spacing: 0.2px;
}

.icons {
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contact-icon {
  width: 45px;
  height: 45px;
}

.contact-icon:hover {
  cursor: pointer;
}


    /* Media Queries */
    /****Tablet (site is mobile first) ****/

@media all and (min-width: 767px) {

 /* Nav Styles */

.brand {
  font-size: 1.75rem;
}

.nav-links a{
  font-size: 1.5rem;
}

.burger div{
  width: 40px;
  height: 4.5px;
  margin: 6px;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-6px, 7.5px);
}
.toggle .line3 {
  transform: rotate(+45deg) translate(-7.5px, -9px);
}

/* About Section Styles */

.main p {
  font-size: 20px;	
  letter-spacing: 0.2px;	
  line-height: 22px;
}

/* Skills Styles */

.about-skills {
  text-align: left;
  font-family: Charter;
  letter-spacing: 0.2px;
  font-size: 20px;
}

.skill {
 padding: 5%;
}

.skill-icon {
  height: 150px;
  width: 150px;
}

/* Project Styles */

.project-content h4 {
  font-size: 1.75rem;
}

.project-content p {
  font-size: 18px;
  width: 75%;
}

  /* Contact Styles */
  
  .contact-box p {
    font-size: 20px;
  }
  
  .contact-icon {
    width: 55px;
    height: 55px;
  }

}

/**** Large Screen ****/

@media all and (min-width: 992px) {

  .container {
    width: 95%;
    margin: 0 auto;
  }

  /* Nav Styles */

  .navbar {
    width: 95%;
    min-height: 8vh;
  }

  .brand {
    font-size: 1.5rem;
    flex: 3;
  }
  
  .nav-links {
    position: static;
    min-height: 8vh;
    flex-direction: row;
    flex: 1;
    transform: translateX(0%);
    opacity: 1;
  }
  
  .nav-links li {
    opacity: 1;
  }

  .nav-links a {
    font-size: 16px;
  }
  
  .burger {
    display: none;
  } 

  /* About Styles */

  .author-image {
    max-height: 75px;
    max-width: 75px;
  }
  
  .main p {
    font-size: 22px;	
    letter-spacing: 0.2px;	
    line-height: 24px;
    width: 50%;
  }
    

/* Skills Styles */

.grey {
  height: auto;
}

#skills {
  text-align: center;
  height: auto;
}

#skills h1 {
  font-size: 1.5rem;
}

.about-skills {

  text-align: left;
  letter-spacing: 0.2px;
  width: 50%;
  margin: 0 auto;
  font-size: 20px;
}

.icon-container {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 5%;
}

.skill h3 {
  font-size: 18px;
}

.skill-icon {
  height: 75px;
  width: 75px;
}

/* Project Styles */

#projects {
  height: auto;
}

.projects-container {
  display: flex;
  justify-content: space-between;
}

.project {
  width: 42.5%;
  padding: 0 2.5%;
}

  /* Contact Styles */
  
  #contact h1 {
    font-size: 1.75rem;
    padding: 5% 0;
  }
  
  .container .contacts {
    width: 50%;
  }
  
  .contact-box p {
    font-family: Charter;
    letter-spacing: 0.2px;
  }
  
  .icons {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .contact-icon {
    width: 45px;
    height: 45px;
  }

}

/**** XL-Screens ****/

@media all and (min-width: 1600px) {

  
  .container {
    width: 90%;
  }

  /* Nav Styles */

  .navbar {
    width: 90%;
  }
  
  /* About Styles */
 
  .main p {
    width: 40%;
  }
    

/* Skills Styles */

.about-skills {
  width: 40%;
}

.icon-container {
  width: 50%;
}

.skill-icon {
  height: 85px;
  width: 85px;
}

/* Project Styles */

#projects {
  height: auto;
}

.project {
  width: 37.5%;
  padding: 0 2.5%;
}

.project-button {
  width: 175px;
  font-size: 18px;
}

  /* Contact Styles */
    
  .container .contacts {
    width: 35%;
  }
  
  .contact-box p {
    font-family: Charter;
    letter-spacing: 0.2px;
  }
  
  .contact-icon {
    width: 50px;
    height: 50px;
  }


}